<%= render 'form', shouldersbicepshome1: @shouldersbicepshome1 %>
<div class = "container" >
	<br> 
<!--<%= link_to 'Show', @chest_triceps1, class: "btn btn-secondary" %> | -->
<%= link_to 'Back', shouldersbicepshome1s_path, class: "btn btn-secondary"%>
</div>